/* * { outline: solid 1px red; } */

.book-page {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  max-width: 1000px;
  min-height: 100vh;
  margin-inline: auto;
  border-left: solid 2px #eee;
  border-right: solid 2px #eee;
  padding: 4rem;

  /* background-color: rgb(238, 196, 196); */
}

.book-page img {
  box-shadow: 0px 0px 10px 0px var(--clr-neutral-800);
}

/* so markdown converted to react components look styled */
.book-page em {
  font-style: italic;
}

.book-page h1 {
  font-size: var(--fs-large-heading);
  font-weight: unset;
}
.book-page h2 {
  font-size: var(--fs-heading);
  font-weight: bold;
}
.book-page h3 {
  font-size: var(--fs-sub-heading);
}
.book-page h4 {
  font-size: var(--fs-body);
  font-weight: bold;
}

.book-page .left-column, .right-column {
  flex-direction: column;
  display: flex;
  padding-inline: 2rem;
}

.additional-authors {
  font-style: italic;
  font-size: var(--fs-medium);
}

.book-page .back-button {
  margin-top: auto;
  width: fit-content;
  align-self: flex-end;
}

.book-page {
  --read-more-height: 100px;
}

.read-more {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;

  padding-block: 1rem;
}

.read-more-content {
  min-height: var(--read-more-height);
  overflow: hidden;
  position: relative;
}

.read-more-content[data-expanded="false"]::after {
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: var(--read-more-height);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
  opacity: 0;
  animation: fadeIn 500ms 100ms forwards; /* Animation with 500ms delay */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.read-more[data-expanded="true"] {
  grid-template-rows: 1fr;
}

.read-more-link {
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.loading-book {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
}