.book-page {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  max-width: 1000px;
  margin-inline: auto;
  border-left: solid 2px #eee;
  border-right: solid 2px #eee;
}

/* so markdown converted to react components look styled */
.book-page em {
  font-style: italic;
}

.book-page .left-column, .right-column {
  justify-content: center;
  padding: 4rem;
}