
/* * {outline: solid red 1px} */

.view-page {
  min-height: 100vh;
}

.view-page h1, h2 {
  font-weight: bold;
}

.view-page h1 {
  font-size: 2.5rem;
}
.view-page h2 {
  font-size: 1.5rem;
}

.statistics-view, .book-tower {
  margin-inline: 2rem;
  outline: solid #EEEE 2px;
}


/* STATISTICS */
.statistics-view {
  padding-inline: 3rem;
  padding-top: 2rem;
}

.stat-columns {
  gap: 1.5rem;
}

/* BOOK TOWER */

.book-tower {
  /* max-height: 100vh; */
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;

  background-color: #FFF8EA;
  /* top padding so theres space at the top of the book stack */
  padding-top: 10rem;
}

.floor {
  background-color: var(--clr-neutral-700);
  min-height: 50px;
}

.book-spine {
  /* min-height: 50px; */
  /* height: fit-content; */
  max-width: 300px;
  min-width: 300px;
  box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.2);

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2em 0.4em;
}

.spine-author {
  font-size: 0.75rem;
}
.spine-title {
  flex-grow: 1;
}