
/* * {outline: solid red 1px} */

.view-page {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
}

.view-page h1, h2 {
  font-weight: bold;
}

.view-page h1 {
  font-size: 2.5rem;
}
.view-page h2 {
  font-size: 1.5rem;
}



/* STATISTICS */
.statistics-view {
  max-height: 100vh;

  outline: solid #EEEE 2px;
  margin-inline: 1rem;
  padding-inline: 3rem;
  padding-top: 2rem;

  overflow-y: scroll;
}

.stat-columns {
  gap: 1.5rem;
}



/* BOOK TOWER */

.book-tower {
  /* max-height: 100vh; */
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  background: linear-gradient(#FFF8EA, #ffe3a7);
  /* top padding so theres space at the top of the book stack */
  padding-top: 10rem;
}

.floor {
  background-color: var(--clr-neutral-700);
  min-width: 100%;
  min-height: 50px;
}

.book-spine {
  width: min-content;
  min-width: 500px;
  box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.2);

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2em 0.4em;

  /* overflow-y: clip; */
}

.spine-author {
  font-size: 0.75rem;
  /* width: fit-content; */
}
.spine-title {
  text-align: center;
  flex-grow: 1;
}