/* Colours */
:root {
  --clr-neutral-100: white;
  --clr-neutral-200: #F6EEE3;
  --clr-neutral-300: #EEE7D7;
  --clr-neutral-400: #E5DECF;
  --clr-neutral-500: #E5CBBA;
  --clr-neutral-600: #CEA082;
  --clr-neutral-800: #8A827B;
  --clr-neutral-900: #262422;
}

/* Utility */
.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* hides element while keeping it accessible to screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

