:root {
  /* Colours */
  --clr-neutral-100: white;
  --clr-neutral-200: #F6EEE3;
  --clr-neutral-300: #EEE7D7;
  --clr-neutral-400: #E5DECF;
  --clr-neutral-500: #E5CBBA;
  --clr-neutral-600: #CEA082;
  --clr-neutral-700: #bc8763;
  --clr-neutral-800: #8A827B;
  --clr-neutral-900: #262422;

  /* font family */
  --ff-primary: "Libre Calson Text", serif;
  --ff-secondary: "Libre Franklin", sans-serif;

  --fs-small: 0.75rem;
  --fs-medium: 0.85rem;
  --fs-body: 1rem;
  --fs-sub-heading: 1.5rem;
  --fs-heading: 2rem;
  --fs-large-heading: 3rem;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-sub-heading {
  font-size: var(--fs-sub-heading);
}

.fs-heading {
  font-size: var(--fs-heading);
}

.fs-large-heading {
  font-size: var(--fs-large-heading);
}

/* Utility */
.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 
  adds top margin to every sibling except the first
  used for spacing
  You can define a --flow-spacer variable in the style attribute of an element 
*/
.flow>*+* {
  margin-top: var(--flow-spacer, 1em);
}


/* hides element while keeping it accessible to screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}